[user]
	email = mikeselander@gmail.com
	name = Mike Selander
	#signingkey = mikeselander@gmail.com

[commit]
	#gpgsign = true

[github]
	user = mikeselander

[status]
  showUntrackedFiles = all
  # Sometimes a newly-added folder, since it's only one line in git status, can slip under the radar.
  # https://git-scm.com/docs/git-config#git-config-statusshowUntrackedFiles

[alias]
  prune = fetch --prune
  # Because I constantly forget how to do this
  # https://git-scm.com/docs/git-fetch#git-fetch--p

  undo = reset --soft HEAD^
  # Not quite as common as an amend, but still common
  # https://git-scm.com/docs/git-reset#git-reset-emgitresetemltmodegtltcommitgt

  stash-all = stash save --include-untracked
  # We wanna grab those pesky un-added files!
  # https://git-scm.com/docs/git-stash#

  # Branch delete shorthand
  bdd = branch -D

  # Clone recursively
  clone-all = clone --recursive $1

  # Push with upstream
  pushit = git push -u origin $1

  # Pretty format
  changes = "!f() { git log --pretty=format:'* %s' $1..$2; }; f"

[core]
	excludesfile = /Users/mike/.gitignore_global
